body,
html {
	font-size: 20px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cover {
	z-index: 100;
	background-color: rgb(241, 241, 241);
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.loading {
	z-index: 101;
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: red;
	animation: loading-animation 1.5s infinite;
}

@keyframes loading-animation {
	0% {
		background-color: rgb(87, 224, 183);
		top: calc(50vh - 50px);
		left: calc(50vw - 50px);
	}
	25% {
		background-color: rgb(42, 226, 88);
		top: calc(50vh - 50px);
		left: calc(50vw);
	}
	50% {
		background-color: rgb(106, 219, 41);
		top: calc(50vh);
		left: calc(50vw);
	}
	75% {
		background-color: rgb(156, 209, 32);
		top: calc(50vh);
		left: calc(50vw - 50px);
	}

	100% {
		background-color: rgb(87, 224, 183);
		top: calc(50vh - 50px);
		left: calc(50vw - 50px);
	}
}

.header-img {
	object-fit: cover;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -2;
	filter: opacity(0.5);
}

.header-gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top right, rgba(78, 220, 100, 0.6), rgba(38, 121, 247, 0.4));
	z-index: -1;
}

.header-title {
	font-family: 'Quicksand', sans-serif;
	font-size: 320%;
	font-weight: 500;
	letter-spacing: 5px;
	color: transparent;
	background: url('./images/header-title.jpg');
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	border: 4px solid white;
	margin: 30px 0;
	padding: 5px;
	align-self: center;
	box-shadow: 3px 3px 5px black;
	opacity: 0;
	/* animation-name: title-animation; */
	animation-duration: 1s;
	animation-delay: 0.3s;
	animation-fill-mode: forwards;
}

@keyframes title-animation {
	0% {
		opacity: 0;
		transform: translate(0, -40%);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.title-description {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	width: 30%;
	font-size: 105%;
	animation-delay: 1.3s;
}

.header-button {
	font-family: 'Quicksand', sans-serif;
	font-size: 110%;
	background: linear-gradient(to bottom right, rgba(0, 204, 255, 0.25), rgba(9, 255, 0, 0.25));
	border: none;
	border-radius: 2px;
	margin: 20px 0;
	padding: 15px 30px;
	cursor: pointer;
	transition: box-shadow 0.2s ease, transform 0.3s ease;
	box-shadow: 3px 3px 5px black;
	animation-delay: 0.9s;
}

.header-button:hover {
	box-shadow: 5px 5px 10px black;
	transform: scale3d(1.1, 1.1, 1.1);
}

.social-media {
	margin-top: 20px;
	width: 25%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	animation-delay: 1.7s;
}
.media-icon {
	height: 65px;
	transition: 0.3s ease;
}

.media-icon:hover {
	transform: scale3d(1.2, 1.2, 1.2);
}

.fade {
	opacity: 0;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

main {
	grid-area: main;
}

aside {
	grid-area: aside;
}

footer {
	grid-area: footer;
}

@media only screen and (max-width: 1400px) {
	html,
	body {
		font-size: 18px;
	}

	.title-description {
		width: 40%;
	}

	.social-media {
		width: 35%;
	}

	.media-icon {
		height: 50px;
	}
}

@media only screen and (max-width: 1024px) {
	.title-description {
		width: 70%;
	}

	.social-media {
		width: 45%;
	}
}

@media only screen and (max-width: 600px) {
	html,
	body {
		font-size: 16px;
	}

	.title-description {
		width: 90%;
	}

	.social-media {
		width: 80%;
	}
}

@media only screen and (max-width: 375px) {
	.header-title {
		font-size: 275%;
	}
}

@media only screen and (max-width: 339px) {
	.header-title {
		font-size: 250%;
	}
}
